<!-- Modal -->
<div>
  <div>
    <h4>Download</h4>
    <ul class="downloads-list">
      <li>
        <%= link_to 'PDF', '#'%>
      </li>
      <li>
        <%= link_to 'Word', '#'%>
      </li>
      <li>
        <%= link_to 'TXT', '#'%>
      </li>
      <li>
        <%= link_to 'RTF', '#'%>
      </li>
      <!--<li>
        Image: <%= link_to 'JPG', '#'%>
      </li>-->
    </ul>
  </div>
  <h4 class="text-center">Play me first</h4>
  <p class="text-center"><iframe width="640" height="480" src="//www.youtube.com/embed/2usbiXGAaWk?rel=0" frameborder="0" allowfullscreen></iframe></p>
  <h2>Live To Write Another Day: A Survival Guide for Screenwriters and Creative Storytellers by Dean Orion (on paperback-released: Apr 11, 2013)</h2>
  <ul>
    <li>Dean Orion  (Author)</li>
    <li>Jodi Lester (Editor)</li>
    <li>Mark Page (Cover Design)</li>
  </ul>
  <p>Not too long ago I decided to write a book about my creative writing process, and the many experiences that I've had throughout my career. The inspiration behind it was pretty straightforward. I simply wanted to share what I've learned over the past 25+ years with other writers. It didn't take me long to realize however, that the book I was writing would only partially be about process. The other part would be about psychological survival. Ironically, what I learned from this little adventure was that the two things are really one in the same. Having a process that you can rely on is your lifeblood as a writer, and if you are going to have any hope of surviving in this profession, that process needs to evolve and grow with you. When you buy this book you'll get a step-by-step walk thru of the process of creating original stories, both "on spec" and "for hire," as well as helpful hands-on checklists at the end of each chapter, all framed through the first hand experiences of a writer in the trenches. Written in a conversational style, Live To Write Another Day, A Survival Guide for Screenwriters and Creative Storytellers, is both a practical, tell-it-like-it-is approach to demystifying the nuts-and-bolts mechanics of storytelling, and an inspirational, heartfelt primer on what it truly takes to do this crazy job for a living.</p>

</div>

