<div id="demos">
  <div class="epk">
    <div class="panel">
      <div class="epk-content">
        <div id="shout" class="panel shout-panel">
          <h1>Press Release with Media Kit</h1>
        </div>
        <!-- begin main epk content -->
        <div class="row">
          <div class="col-xsm-12 col-sm-12 col-md-9 col-lg-9 col-xlg-9">
            <article class="epk-locker-display">
              <div class="epk-heading">
                <div class="row">
                  <%= render ('demos/demo_parts/deanorion/ltwad_press_release_01') %>
                </div>
              </div>
              <div class="row row-epk-display">
                
                <div id="theIt" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  <%= render ('demos/demo_parts/deanorion/ltwad_book_sum') %>
                
                </div>
                <div id="theWho" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  <%= render ('demos/demo_parts/deanorion/ltwad_blog_reviews') %>
                </div>
                
              </div>
              <div class="row row-epk-display">
                
                <div id="theInfo" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  <%= render ('demos/demo_parts/deanorion/ltwad_book_onesheet') %>
                
                </div>
                <div id="theComments" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  <%= render ('demos/demo_parts/deanorion/ltwad_amazon_reviews') %>
                </div>
              </div>  
                
              <div class="row row-epk-display row-last-part">  
                <div id="theQuestions" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  <%= render ('demos/demo_parts/deanorion/orion_interview_q_a') %>
                </div> 
                <div id="theAwards" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                </div>
                
              </div>
            </article><!-- end .epk-wrapper -->
          </div>
          
          <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 col-xlg-3">
            <section class="rackmount">
              
                <%= render ('demos/demo_parts/deanorion/orion_social_media') %>
              
              <div class="row-epk-display border-bottom-thin-full">
                <%= render ('demos/demo_parts/deanorion/orion_bio') %>
              </div>
              
            </section><!-- end .rackmount -->
          </div>
        </div>
      </div><!-- end .epk-content -->
    </div><!-- end .epk-wrapper -->
  </div><!-- end .epk -->
</div><!-- end #demos -->