<div id="demos">
  <div class="epk">
    <div class="panel">
      <div class="epk-content">
        <div id="shout" class="panel shout-panel">
          <h1>Entreuse MEDIA KIT DEMOS</h1>
        </div>
        <!-- begin main epk content -->
        <div class="row">
          <div class="col-xsm-12 col-sm-12 col-md-9 col-lg-9 col-xlg-9">
            <article class="epk-locker-display">
              <div class="epk-heading">
                <div class="row">
                  <div class="col-xsm-12 col-sm-12 col-md-5 col-lg-5 col-xlg-5">
                   <%= image_tag "responsive-design-2.png", :class => "img-center img-responsive", :title => "Live to write another day cover art" %>
                  </div>
                  <div class="col-xsm-12 col-sm-12 col-md-7 col-lg-7 col-xlg-7">
                    <p class="rubric rubric-lg"><a data-toggle="modal" data-target="#epkHeadline">Clean Presentations</a></p>
                    <h1>The Entreuse Media Kit<small> Demonstrated</small></h1>
                    <h2>Clean &amp; Elegant Presentation<small> is the Entreuse Matra and Best Advise</small></h2>
                    <p>When you are trying to ellicit media coverage or an interview, follow-up a pitch, or any other form of message projection, a clean and concise presentation is critical if you are to show your <q>Story's</q> relevance to a person having media-influence before they move onto the next story</p>
                  </div>
                </div>
              </div>
              <div class="demo-samples">

                <div class="row row-epk-display">
                  
                  <div id="ltwad" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <div class="row">
                      <div class="col-xsm-3 col-sm-4 col-md-5 col-lg-5 col-xlg-5">
                        <%= link_to image_tag( "deanorion/dean-orion-live-to-write.png", :class => "img-center img-responsive", :title => "Live to write another day cover art" ), deanOrionPressReleaseDemo_path %>
                      </div>
                      <div class="col-xsm-9 col-sm-8 col-md-7 col-lg-7 col-xlg-7">
                        <%= link_to 'Book Press Release', deanOrionPressReleaseDemo_path, :class => 'lead' %>
                        <p>Dean Orion Announcing the Release of his book</p>
                        <p><em><q>Live to Write Another Day<small>, A Survival Guide for Screenwriters and Creative Storytellers</small></q></em></p>
                        <p class="text-right">
                          <%= link_to 'See the Kit', deanOrionPressReleaseDemo_path %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="bartKresa" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <div class="row">
                      <div class="col-xsm-3 col-sm-4 col-md-5 col-lg-5 col-xlg-5">
                       <%= link_to image_tag( "bartkresa/bartKresa-coldPlay190.png", :class => "img-center img-responsive", :title => "BartKresa design ColdPlay at the Hollywood Bowl"), bartKresaDefaultDemo_path %>
                      </div>
                      <div class="col-xsm-9 col-sm-8 col-md-7 col-lg-7 col-xlg-7">
                        <%= link_to 'Award Winner', 
                        bartKresaDefaultDemo_path, :class => 'lead' %>
                        <p>Bart Kresa Announcing a Design Award</p>
                        <p><em><q>ColdPlay<small> at the Hollywood Bowl. BartKresa design received recognition for his ColdPlay Projection design</small></q></em></p>
                        <p class="text-right">
                          <%= link_to 'See the Kit', bartKresaDefaultDemo_path %>
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
                <div class="row row-epk-display row-last-part">
                  
                  <div id="greenIdeaHouse" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <div class="row">
                      <div class="col-xsm-3 col-sm-4 col-md-5 col-lg-5 col-xlg-5">
                       <%= link_to image_tag( "greenideahouse/gih_front-view.png", :class => "img-center img-responsive", :title => "Green Idea House front view" ), greenIdeaHouseDefaultDemo_path %>
                       <p><em><q>Tour includes<small> Jacksonville, Tampa &amp; Miami</small></q></em></p>
                      </div>
                      <div class="col-xsm-9 col-sm-8 col-md-7 col-lg-7 col-xlg-7">
                        <%= link_to 'The Project', greenIdeaHouseDefaultDemo_path, :class => 'lead' %>
                        <p>Robert Fortunato Kicks-off Speaking Tour Promoting the <q>Net-Zero Home</q> Concept in the Sunshine State</p>
                        
                        <p class="text-right">
                          <%= link_to 'See the Kit', greenIdeaHouseDefaultDemo_path %>
                        </p>

                      </div>
                    </div>
                  </div>
                  <div id="oss" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <div class="row">
                      <div class="col-xsm-3 col-sm-4 col-md-5 col-lg-5 col-xlg-5">
                       <%= link_to image_tag( "oss/oss-logo-lg.png", :class => "img-center img-responsive", :title => "oss logo" ), ossDefaultDemo_path %>
                      </div>
                      <div class="col-xsm-9 col-sm-8 col-md-7 col-lg-7 col-xlg-7">
                        <%= link_to 'The Company', ossDefaultDemo_path, :class => 'lead' %>
                        <p>OSS Lands Statewide Program</p>
                        <p><em><q>Organizational Support Services<small>, will be leading a retail level outreach focusing on educating Californians and facilitating adoption of the newest efficient lighting technologies - LEDs</small></q></em></p>
                        <p class="text-right">
                          <%= link_to 'See the Kit', ossDefaultDemo_path %>
                        </p>
                        <!-- Button trigger modal -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </article><!-- end .epk-wrapper -->
          </div>
          
          <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 col-xlg-3">
            <section class="rackmount">
              <div id="welcome">
                <h3 class="rubric">Welcome</h3>
              </div>
              
              <div class="socal-media-bar">
                
              </div>
              
            </section><!-- end .rackmount -->
          </div>
        </div>
      </div><!-- end .epk-content -->
    </div><!-- end .epk-wrapper -->
  </div><!-- end .epk -->
</div><!-- end #demos -->