<article class="bio">
                  <div>
                  <h3 class="rubric"><a data-toggle="modal" data-target="#biography">The Author</a></h3>

                    <div>
                      <a data-toggle="modal" data-target="#biography">
                                    <%= image_tag "deanorion/Dean Orion8x10.png", :class => "img-center img-responsive", :title => "Dean Orion Headshot" %>
                      </a>
                    </div>
                    <div>
                      <h3>Dean Orion</h3>
                      <p class="blurb">Fresh out of the wonderful academic cocoon of Bates College in 1986, Dean Orion began his career as a professional writer by crafting copy for a local ad agency in his native Long Island by day and hopping trains to The Lee Strasberg Creative Center in New York City, where his first play was produced by night.</p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="modal" data-target="#biography">
                        more&hellip;
                      </a></p>
                      
                    </div>  
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="biography" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Biography</h4>
                        </div>
                        <div class="modal-body">
                          <div>
                            <h4>Download</h4>
                            <ul class="downloads-list">
                              <li>
                                <%= link_to 'PDF', '#'%>
                              </li>
                              <!--<li>
                                <%= link_to 'Word', '#'%>
                              </li>
                              <li>
                                <%= link_to 'TXT', '#'%>
                              </li>
                              <li>
                                <%= link_to 'RTF', '#'%>
                              </li> -->
                              <li>
                                Image: <%= link_to 'JPG', '#'%>
                              </li>
                            </ul>
                          </div>
                        <h1>Dean Orion <small>A Brief History</small></h1>
                        
                        <%= image_tag "deanorion/Dean Orion8x10.png", :class => "image-sm img-responsive pull-left img-margin", :title => "Dean Orion Headshot" %>
                        
                        <p>Fresh out of the wonderful academic cocoon of Bates College in 1986, Dean Orion began his career as a professional writer by crafting copy for a local ad agency in his native Long Island by day and hopping trains to The Lee Strasberg Creative Center in New York City, where his first play was produced by night.</p>
                        <p>After moving to Los Angeles in 1988 to attend The American Film Institute, he embarked on a very eclectic career in the entertainment industry, writing for both traditional and interactive media. His numerous credits include such television shows as "The Invisible Man," and "Jackie Chan Adventures," and console video game titles, "Van Helsing" and " Mission Impossible: Operation Surma," just to name a few.</p>
                        <p>Orion's unique background has also led him into the world of themed entertainment, where he has worked for many years as a writer, show producer and creative director at Walt Disney Imagineering, creating interactive attractions for Disney's parks and cruise ships.</p>
                        <p>"Live To Write Another Day, A Survival Guide for Screenwriters and Creative Storytellers" is his first book.</p>
                  
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
</article>