              <h3 class="rubric"><a data-toggle="modal" data-target="#amazonReviews">Amazon Reviews</a></h3>
                <div>
                    <div class="article-shout">
                      <p class="five-stars">Rating: <%= image_tag "five-of-five.png", :class => "img-responsive", :title => "five stars of five stars rating" %></p>
                      <p class="blurb">
                        A smash with the readers, <em>Live To Write Another Day</em> is leading its category at Amazon. 
                      </p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="modal" data-target="#amazonReviews">
                        more&hellip;
                      </a></p>
                    </div>  
                  </div>

<!-- Modal -->
<div class="modal fade" id="amazonReviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Amazon Reviews</h4>
      </div>
      <div class="modal-body">
        <div>
          <h4>Download</h4>
          <ul class="downloads-list">
            <li>
              <%= link_to 'PDF', '#'%>
            </li>
            <!--<li>
              <%= link_to 'Word', '#'%>
            </li>
            <li>
              <%= link_to 'TXT', '#'%>
            </li>
            <li>
              <%= link_to 'RTF', '#'%>
            </li>
            <li>
              Image: <%= link_to 'JPG', '#'%>
            </li>-->
          </ul>
        </div>
        <article class="article-main">
          <h1>Book Reviews</h1>
          
          <ol>
            <li>
              <p class="citation-reviewer">
                March 6, 2013, By Alec Sokolow
              </p>
              <ul>
                <li>Format: Kindle Edition</li>
                <li class="five-stars">
                    <p class="five-stars">Rating: <%= image_tag "five-of-five.png", :class => "img-responsive", :title => "five stars of five stars rating" %></p>
                </li>
              </ul>
              <p class="lead">I truly loved this read.</p>
              <p>This book surgically breaks down the myths and misconceptions of writing. Not only with advice on how to pragmatically structure a work of fiction, but with even more important advice on how to get through the entire writing process from the moment of conception, through the dark tunnels of creation, the vulnerability of receiving notes and the sense of emptiness that comes with the completion of the work.</p>
              <p>It is both informative, personal and entertaining. And a very reassuring reminder that while writing is never easy, it doesn't have to be so tough.</p>
              <p>I wish I had read this book when i was first starting out. It would have saved me years of confusion, anxiety and bar bills.</p>
              <p>And perhaps most impressively, this book actually makes me want to get back to my writing.</p>
            </li>
            <li>
              <p class="citation-reviewer">
              March 15, 2013, By Sean Dickson
              </p>
              <ul>
                <li>Format: Kindle Edition</li>
                <li class="five-stars">
                    <p class="five-stars">Rating: <%= image_tag "five-of-five.png", :class => "img-responsive", :title => "five stars of five stars rating" %></p>
                </li>
              </ul>
              <p class="lead">If you have doubts about your writing process (or sanity) this is for you</p>
              <p>I've been in some of the same trenches as Mr. Orion and can attest that he NAILS IT with this book. As much a self-help checklist and pep talk as it is a reality check about writing for the entertainment industry. If you've ever doubted your writing process... or feel like you need some new routines to shake up your exercise regimen, get this book. You will refer back to it often. Of all the How-To guides I have (and will) read, I have a feeling this one will remain in my Top 5.</p>
              <p>More importantly, it gives validation to those who are compelled to write. For us, it isn't a choice, it is a necessity.</p>      
            </li>
            <li>
              <p class="citation-reviewer">
                June 25, 2013, By Dominic DiFrancesco
              </p>
              <ul>
                <li>Format: Kindle Edition</li>
                <li class="five-stars">
                    <p class="five-stars">Rating: <%= image_tag "five-of-five.png", :class => "img-responsive", :title => "five stars of five stars rating" %></p>
                </li>
              </ul>
              <p class="lead">Excellent and Informative</p>
              <p>Dean Orion's book was a terrific read with lots of helpful information for aspiring writers. I for one am using many of the tips that Dean introduced to assist me in the writing of my first novel. This an excellent book, an easy and enjoyable read and I highly recommend it.
        </p>
            </li>
            <li>
              <p class="citation-reviewer">
                October 21, 2013, By Stephanie Daniels
              </p>
              <ul>
                <li>Format: Kindle Edition</li>
                <li class="five-stars">
                    <p class="five-stars">Rating: <%= image_tag "five-of-five.png", :class => "img-responsive", :title => "five stars of five stars rating" %></p>
                </li>
              </ul>
              <p class="lead">I will survive--thanks to this book</p>
              <p>I appreciated the easy-to-read, conversational tone of this book. Mr. Orion immediately dispels the myth of writer's block and encourages the process of procrastination, all while inviting the writer into his creative process.</p>
              <p>The chapters on note-giving and note-taking (constructive criticism) are invaluable! The most important piece of advice he gives? Once my story has been written, it is time to let it go. I think the explanation he gives about this is probably the most important any writer can read. The entire book felt like someone who gets me, and of course he does, because like him, I have the writer's gene, so essentially, it is like we are family. Wonderfully sage and encouraging but realistic advice. I highly recommend this book for writers in any stage of their journey.</p>
            </li>
          </ol>
          
        </article>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

