<!-- Modal -->
<div>
  <h4>Download</h4>
  <h5>Full Media/Press Kits:</h5>
  <ul class="downloads-list">
    <li>
      <%= link_to 'Print Media', '#'%>
    </li>
    <li>
      <%= link_to 'Digital Media', '#'%>
  </ul>

  <h5>Press Release Only:</h5>
  <ul class="downloads-list">
    <li>
      <%= link_to 'PDF', '#'%>
    </li>
    <li>
      <%= link_to 'Word', '#'%>
    </li>
    <li>
      <%= link_to 'TXT', '#'%>
    </li>
    <li>
      <%= link_to 'RFT', '#'%>
    </li>
  </ul>
</div>
<div>
  <div>
    <h2>FOR IMMEDIATE RELEASE</h2>
    <address class="contact-block pull-right">
      <p>Contact: Dean Orion</p>
      <p>
             <%= mail_to "dean@skyfathermedia.com" do %>
        dean@skyfathermedia.com
             <% end %></p>
      <p>Los Angeles, CA</p> 
      <p>Ph: 310-864-9531</p>
    </address>
    
    <article class="article-main">
             <h2>Writers Everywhere are Breathing a Sigh of Relief</h2>
             <p>Los Angeles, California - April 9, 2014 - Veteran screenwriter, Dean Orion, has released a guide to surviving the psychological process of creative storytelling and screenwriting.</p> 
             <p>The book focuses on a step-by-step walk thru of the process of creating original stories, both <q>on spec</q> and <q>for hire</q>, as well as helpful hands-on checklists at the end of each chapter, all framed through the first hand experiences of a writer in the trenches.</p>
             <p><q>The main thrust of the book about the creative process,</q> says Mr. Orion, <q>and how that process is the key to not only doing great work, but also surviving the perils you experience along the way, which is something that any artist can relate to, amateur or professional.</q></p>
             <p>With digital publishing exploding the opportunities for writers everywhere, this is a much needed guide for storytellers honing their craft. </p>
             <p>Dean Orion is known for having written episodes for The Invisible Man (TV Series), Lighthouse (TV Movie) and Prey (Video Game).  Live to Write Another Day is his first book. </p>
           

      </article>
  </div>
</div>



