              <h3 class="rubric"><a data-toggle="modal" data-target="#bookReviews">Blog Reviews</a></h3>
                <div>
                    <div class="article-shout">
                      <p class="five-stars">Rating: <%= image_tag "five-of-five.png", :class => "img-responsive", :title => "five stars of five stars rating" %></p>
                      <p class="blurb">
                        A critical success, <em>Live To Write Another Day</em> is roundly paised as the writers' <q>go to</q> guide when navigating the professional world of writing. 
                      </p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="modal" data-target="#bookReviews">
                        more&hellip;
                      </a></p>
                    </div>  
                  </div>

<!-- Modal -->
<div class="modal fade" id="bookReviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Blogger Book Reviews</h4>
      </div>
      <div class="modal-body">
        <div>
          <h4>Download</h4>
          <ul class="downloads-list">
            <li>
              <%= link_to 'PDF', '#'%>
            </li>
            <li>
              <%= link_to 'Word', '#'%>
            </li>
            <li>
              <%= link_to 'TXT', '#'%>
            </li>
            <li>
              <%= link_to 'RTF', '#'%>
            </li>
            <!--<li>
              Image: <%= link_to 'JPG', '#'%>
            </li>-->
          </ul>
        </div>
        <article class="article-main">
<h1>Book Reviews</h1>

<ol>
	<li>
  	<p class="citation-reviewer">Janette Fuller, Book Review: <em>Live To Write Another Day</em>, by Dean Orion, JanetteFuller.Com, March 5, 2013, <%= link_to 'http://janettefuller.blogspot.com/2013/05/book-review-live-to-write-another-day.html', 'http://janettefuller.blogspot.com/2013/05/book-review-live-to-write-another-day.html', :target => 'blank' %></p>
    <h4>About The Author</h4>
		<p>Dean Orion began his career as a professional writer by crafting copy for a local ad agency in his native Long Island by day and hopping trains to New York City, where his first play was produced by night. After moving to Los Angeles in 1988 to attend The American Film Institute, he embarked on a very eclectic career in the entertainment industry, writing for both traditional and interactive media. Orion's unique background has also led him into the world of themed entertainment, where he has worked for many years as a writer, show producer and creative director at Walt Disney Imagineering.</p>
    <h4>The Writer Gene</h4>
    <p>If you are a person who is driven to tell stories with words, then you have the writer gene. Mr. Orion shares his techniques, thoughts and emotions that have evolved from 25 years of professional writing. This book is for all who have the "writer gene".</p>
    <h4>What About Writer's Block?</h4>
    <p>Dean Orion says there is no such thing as "writer's block". He believes that it is just a panic or overwhelming feeling that the answer will never come. He explains that a writer must develop a writing process that will give him the confidence and the fortitude to face this fear when it comes.</p>
    <p>"All original stories exist in a perfect state as thought forms that are separate from you. Listen and tune them in like a radio signal."</p>
    <p>Mr. Orion provides a detailed explanation of the writing process that he uses. He tells how he does research, takes notes, develops an outline, writes the first draft, receives input from other writers, makes revisions and finishes the story.</p>
    <p>He gives valuable advice on how to get paid for writing. He shares many insider's tips that will be helpful to aspiring writers. He encourages writers to connect with other writers to exchange ideas and techniques. 
    Is it easy to be a professional writer? No, it is not easy but Mr. Orion tells writers that their voice is worthy of being heard, and the fight to make it heard is never in vain.</p>
    <h4>My Thoughts</h4>
    <p>This is a very informative book for anyone who is interested in writing. It is educational, motivational and inspirational. The author uses his writing skills to convey his passion for the craft of writing and to inspire and encourage others to use their "writer gene" to the best of their ability.</p>
    <p>Mr. Orion is very candid in explaining the process that he uses when working on a writing project. He holds nothing back...if you want to be a better writer I am sure you will benefit from this book.</p>
    <p>The author adds a bonus section to the book that details his thoughts on "interactive media and the future of storytelling". He shares his experiences writing for video game developers and the Walt Disney Company.</p>
    <p><em>Live to Write Another Day</em> is a real treasure for writers and everyone interested in the written word. This book is a survival guide for writers and an example of what excellent writing looks like. Highly recommended.</p>
    <p>My Rating: 5 STARS OUT OF 5</p>
    <p>FYI ~ I received a complimentary digital copy of this book to review from NetGalley.</p>
  </li>
  
	<li>
  	<p class="citation-reviewer">Gail Kavanagh, Book Review: <em>Live To Write Another Day</em>, by Dean Orion, Morningstar, May 22, 2013, <%= link_to 'http://gailkavanagh.wordpress.com/2013/05/22/book-review-live-to-write-another-day/
', 'http://gailkavanagh.wordpress.com/2013/05/22/book-review-live-to-write-another-day/
', :target => 'blank' %></p>
    <p>What is 'the writer gene'? Dean Orion claims to have been born with it, and insists it is a lovely piece of biochemistry that means that no matter how you struggle to overcome your shortcomings as a writer, endure countless rejections and look for other ways to make a living, there's no way you'll stop writing. It's in your genes. Orion is a scriptwriter, and this book is written primarily to keep other scriptwriters sane, but he does have some advice that can help all writers avoid the marshy traps of creativity.</p>

    <p>Orion describes his book Live to Write Another Day as a survival guide, to help fellow writers weather the storms. he starts by making us feel good about procrastination. Whereas every other mentor/guru is screaming at us to seize the day and grasp the red hot poker and all that, Orion suggests we give procrastination names like brain charging or pre-writing and admit that it is a valid part of the process. He says that obsessively peeling a cucumber or rearranging the furniture is just keeps you hands occupied while you brain maps out your opus and gets you into the right zone to actually start writing. It's only bad if your anxiety about it paralyses you to the point where you can't write at all. That makes sense to me. Live to write Another Day is only 132 pages long, and if it's a pep talk you need, it could be $10 well spent.</p>
  </li>
  
	<li>
  	<p class="citation-reviewer">Clare O'Beara, Book Review: <em>Live To Write Another Day</em>, by Dean Orion, Fresh Fiction, August 7, 2013, <%= link_to 'http://freshfiction.com/review.php?id=38900', 'http://freshfiction.com/review.php?id=38900', :target => 'blank' %></p>
    <p>In this survival guide the author wryly admits to having been creatively writing since aged eleven. He says that writers are born that way, they can't help it, and they will either explain how they love writing or how they hate it because it is so hard to do well; or both, sometimes in the one sentence. LIVE TO WRITE ANOTHER DAY encompasses screenplays, stories, advertising, stage plays, web content and other material, with personal experiences.</p>
    <p>Procrastination, not to be confused with putting off ever starting, or writer's block, is part of the skill, says Dean Orion, letting writers figure out the content in their heads and develop the story before going near the page. So don't worry about it!</p>
    <p>Screenwriter Woody Allen is quoted, saying that eighty percent of success in life is just showing up. When a writer has a routine and sticks to it, that becomes the writing space. Orion gives the example of borrowing a friend's office after hours for peace and quiet. Research before starting even the lightest fiction is strongly recommended and Orion gives examples of how he personally outlines a story and builds up characters before beginning. As most of his work is screenplays he tends to focus on location and jumps from one scene to the next.</p>
    <p>Orion emphasises that constructive criticism is very useful but the writer may have to address issues on different levels. If someone says they did not like a character - why? Use the ideas given to you to make the story better. Writing with a partner however involves giving up half of the creative autonomy so requires a lot of trust as well as respect. Pitching a project to a prospective buyer or reader will be done differently by different people; Orion gives examples from his work on The Invisible Man. You're not just pitching the work, he says; you are pitching yourself. Are you someone that the other person wants to work with?</p>
    <p><q>Financial success is one thing and artistic success is entirely another,</q> Orion warns. I found a lot of similar pithy advice in this short, friendly book, with discussion topics, and while not all of it will apply to every writer, it would be useful for someone thinking of becoming a writer for hire, or a creative writer, to see the pitfalls and gain the benefits of a professional's experience. Orion advises those considering writing to surround themselves with a community of writers. Picking up LIVE TO WRITE ANOTHER DAY would be a good start.</p>
  </li>
  
	<li>
  	<p class="citation-reviewer">Clare O'Beara, Book Review: <em>Live To Write Another Day</em>, by Dean Orion, Fresh Fiction, August 7, 2013, <%= link_to 'http://freshfiction.com/review.php?id=38900', 'http://freshfiction.com/review.php?id=38900', :target => 'blank' %></p>
    <p>I'm always in search of well-written books that help answer questions that many writers might have while they're working on their own manuscripts or short stories. Mr. Orion provided an entertaining book while telling his readers about his techniques and experiences that he draws on from having more than 20 years of experience in the writing industry. I thought it was fascinating how he's written for such venues as theater, television, video games and theme parks- the last being something that you don't hear about too often. I enjoyed his checklists at the end of every chapter and I've walked away feeling like I've added more tools to my own writing arsenal. I'm so glad I was given the opportunity to review this book and I honestly look forward to putting some of Mr. Orion's suggestions to use. I highly recommend this book and I'm definitely adding it to my writer's reference library. This book is definitely one to look into!</p>
		<p>With 20 plus years of writing experience, Mr. Orion sheds some light on some of the techniques he uses and offers advice to anyone with <q>the writer gene.</q> He has worked in the entertainment industry writing things for theater, television, video games and even theme parks. In his down-to-earth, conversational style writing, you can't help but feel like you're having a conversation with Mr. Orion one-on-one. Are you looking for new techniques to help you in your writing? If so, this is the perfect book to add to your writer's library.</p>
    
  </li>
</ol>


</article>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

