<div id="kit">
  <div class="panel">
    <div id="shout" class="panel shout-panel">
      <h1>Press Release with Media Kit</h1>
    </div>
    
    <!-- begin main epk content -->
    <div class="row">
      <div class="col-xsm-12 col-sm-12 col-md-9 col-lg-9 col-xlg-9">
        <article class="locker-display">
          <div class="tab-content">
            <div class="epk-heading tab-pane fade in active" id="cover">
             
            <div class="thumbnail" id="coverThumb">
             
             <a data-toggle="tab" data-target="#pressRelease"><%= image_tag "oss-logo.png", :class => "img-center img-responsive pull-left", :title => "Live to write another day cover art" %></a>
             </div>
             <div class="caption-lead">
             <p class="lead"><a data-toggle="tab" data-target="#pressRelease">FOR IMMEDIATE RELEASE</a></p>
             <p>April 17, 2014, 1:00pm pst, Hollywood, CA</p>
             <h1>Writers Everywhere are Breathing a Sigh of Relief that they will <q><em>Live to Write Another Day</em></q></h1>
             <h2><em><q>Live to Write Another Day<small>, A Survival Guide for Screenwriters and Creative Storytellers</small></q></em></h2>
             <p>Los Angeles, California - April 9, 2014 - Veteran screenwriter, Dean Orion, has released a guide to surviving the psychological process of creative storytelling and screenwriting.</p>
             <p class="text-right"><a data-toggle="tab" data-target="#pressRelease">
                more&hellip;
              </a></p>
             <!-- Button trigger modal -->
            </div>
              
              <div class="row row-display">
                
                <div id="theIt" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                  <div class="thumbnail">
                    <img data-src="holder.js/300x200" alt="..." class="pull-left">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                  
                </div>
                <div id="theWho" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                  <div class="thumbnail">
                    <img data-src="holder.js/300x200" alt="...">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                  
                </div>
                
              </div>
              <div class="row row-display">
                
                <div id="theInfo" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                  <div class="thumbnail">
                    <img data-src="holder.js/300x200" alt="...">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                  
                </div>
                <div id="theComments" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                  <div class="thumbnail">
                    <img data-src="holder.js/300x200" alt="...">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                  
                </div>
              </div>  
                
              <div class="row row-display row-last-part">  
                <div id="theQuestions" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                </div> 
                <div id="theAwards" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                  
                </div>
                
              </div>
            </div>
            <div class="tab-pane fade" id="pressRelease">
              
              <div>
                <h4>Download</h4>
                <h5>Full Media/Press Kits:</h5>
                <ul class="downloads-list">
                  <li>
                    <%= link_to 'Print Media', '#'%>
                  </li>
                  <li>
                    <%= link_to 'Digital Media', '#'%>
                </ul>
      
                <h5>Press Release Only:</h5>
                <ul class="downloads-list">
                  <li>
                    <%= link_to 'PDF', '#'%>
                  </li>
                  <li>
                    <%= link_to 'Word', '#'%>
                  </li>
                  <li>
                    <%= link_to 'TXT', '#'%>
                  </li>
                  <li>
                    <%= link_to 'RFT', '#'%>
                  </li>
                </ul>
              </div>
              <div>
                <h2>FOR IMMEDIATE RELEASE</h2>
                <address class="contact-block pull-right">
                  <p>Contact: Dean Orion</p>
                  <p>
                    <%= mail_to "dean@skyfathermedia.com" do %>
                      dean@skyfathermedia.com
                    <% end %></p>
                  <p>Los Angeles, CA</p> 
                  <p>Ph: 310-864-9531</p>
                </address>
                
                <article class="article-main">
                  <h2>Writers Everywhere are Breathing a Sigh of Relief</h2>
                  <p>Los Angeles, California - April 9, 2014 - Veteran screenwriter, Dean Orion, has released a guide to surviving the psychological process of creative storytelling and screenwriting.</p> 
                  <p>The book focuses on a step-by-step walk thru of the process of creating original stories, both <q>on spec</q> and <q>for hire</q>, as well as helpful hands-on checklists at the end of each chapter, all framed through the first hand experiences of a writer in the trenches.</p>
                  <p><q>The main thrust of the book about the creative process,</q> says Mr. Orion, <q>and how that process is the key to not only doing great work, but also surviving the perils you experience along the way, which is something that any artist can relate to, amateur or professional.</q></p>
                  <p>With digital publishing exploding the opportunities for writers everywhere, this is a much needed guide for storytellers honing their craft. </p>
                  <p>Dean Orion is known for having written episodes for The Invisible Man (TV Series), Lighthouse (TV Movie) and Prey (Video Game).  Live to Write Another Day is his first book. </p>
                  </article>
              </div>
            </div>
            <div class="tab-pane fade" id="profile">
              
            <div class="tab-pane fade" id="capablilityStatement">
              
            </div>
            <div class="tab-pane fade" id="caseStudies">
              
            </div>
            <div class="tab-pane fade" id="keyStaff">
              
            <div class="tab-pane fade" id="companyHistory">
              
            </div>
          </div>
          
          
        </article><!-- end .epk-wrapper -->
      </div>
      
      <div class="col-xsm-12 col-sm-12 col-md-3 col-lg-3 col-xlg-3">
        <section class="rackmount">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#cover" data-toggle="tab">Kit Cover</a></li>
              <li class="active"><a href="#pressRelease" data-toggle="tab">Press Release</a></li>
              <li><a href="#profile" data-toggle="tab">Profile</a></li>
              <li><a href="#capablilityStatement" data-toggle="tab">Capablility Statement</a></li>
              <li><a href="#caseStudies" data-toggle="tab">Case Studies</a></li>
              <li><a href="#keyStaff" data-toggle="tab">Key Management/Staff</a></li>
              <li><a href="#companyHistory" data-toggle="tab">Company History</a></li>
            </ul>
            
            
          
          <div class="row-display border-bottom-thin-full">
            
          </div>
          
        </section><!-- end .rackmount -->
      </div>
    </div>
  </div><!-- end .panel -->
</div><!-- end #kit -->