
<!-- Modal -->
<div id="bookOneSheet">
  <div>
    <div>
      <div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Book One-Sheet</h4>
      </div>
      <div>
        <div>
          <h4>Download</h4>
          <ul class="downloads-list">
            <li>
              <!--<%= link_to 'PDF', '#'%>
            </li>
            <li>
              <%= link_to 'Word', '#'%>
            </li>
            <li>
              <%= link_to 'TXT', '#'%>
            </li>
            <li>
              <%= link_to 'RTF', '#'%>
            </li>-->
            <li>
              Image: <%= link_to 'JPG', '#'%>
            </li>
            <li>
              <strong><%= link_to 'See complete Amazon listing', 'http://www.amazon.com/Another-Survival-Screenwriters-Creative-Storytellers-ebook/dp/B00BPK0QA8', :target => '_blank'%></strong>
            </li>
          </ul>
        </div>
        <article>
            <%= image_tag "deanorion/dean-orion-epk-pdf1.png", :class => "img-center img-responsive", :title => "Live To Write Another Day One Sheet" %>
            
        </article>
      </div>
    </div>
  </div>
</div>

