              <article class="epk-locker-display tab-content">
                <div class="epk-heading">
                  <div class="row">
                    <%= render ('demos/demo_parts/deanorion/ltwad_cover') %>
                  </div>
                </div>
                <div class="row row-epk-display">
                  
                  <div id="theIt" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <%= render ('demos/demo_parts/deanorion/ltwad_book_sum') %>
                  
                  </div>
                  <div id="theWho" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <%= render ('demos/demo_parts/deanorion/ltwad_blog_reviews') %>
                  </div>
                  
                </div>
                <div class="row row-epk-display">
                  
                  <div id="theInfo" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <%= render ('demos/demo_parts/deanorion/ltwad_book_onesheet') %>
                  
                  </div>
                  <div id="theComments" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <%= render ('demos/demo_parts/deanorion/ltwad_amazon_reviews') %>
                  </div>
                </div>  
                  
                <div class="row row-epk-display row-last-part">  
                  <div id="theQuestions" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <%= render ('demos/demo_parts/deanorion/orion_interview_q_a') %>
                  </div> 
                  <div id="theAwards" class="col-xsm-12 col-sm-6 col-md-6 col-lg-6 col-xlg-6">
                    <%= render ('demos/demo_parts/deanorion/ltwad_awards') %>
                  </div>
                  
                </div>
              </article><!-- end .epk-wrapper -->