
                  <div class="epk-heading">
                    <div class="row">
                      <div class="col-xsm-3 col-sm-4 col-md-5 col-lg-5 col-xlg-5">
                       <a data-toggle="tab" data-target="#pressRelease01"><%= image_tag "deanorion/dean-orion-live-to-write.png", :class => "img-center img-responsive", :title => "Live to write another day cover art" %></a>
                       </div>
                       <div class="col-xsm-9 col-sm-8 col-md-7 col-lg-7 col-xlg-7">
                        <p class="lead">
                          <%= link_to "FOR IMMEDIATE RELEASE", '#pressRelease01', :data => {:toggle=>"tab"} %>
                        </p>
                       <p>April 17, 2014, 1:00pm pst, Hollywood, CA</p>
                       <h1>Writers Everywhere are Breathing a Sigh of Relief that they will <q><em>Live to Write Another Day</em></q></h1>
                       <h2><em><q>Live to Write Another Day<small>, A Survival Guide for Screenwriters and Creative Storytellers</small></q></em></h2>
                       <p>Los Angeles, California - April 9, 2014 - Veteran screenwriter, Dean Orion, has released a guide to surviving the psychological process of creative storytelling and screenwriting.</p>
                       <p class="text-right"><a data-toggle="tab" data-target="#pressRelease01">
                          more&hellip;
                        </a></p>
                       <!-- Button trigger modal -->
                      </div>

                    </div>
                  </div>
                  <div class="row row-epk-display">
                    
                    <div id="theIt" class="col-xsm-12 col-sm-5 col-md-5 col-lg-5 col-xlg-5">
                      <h3 class="rubric"><a data-toggle="tab" data-target="#bookSummary">Book Summary</a></h3>
                    <div class="row">
                    <div class="article-image col-xsm-12 col-sm-5 col-md-5 col-lg-5 col-xlg-5">
                      <a data-toggle="tab" data-target="#bookSummary"><%= image_tag "deanorion/LTWAD_video_image1.png", :class => "img-center img-responsive", :title => "Image Video" %></a>
                    </div>
                    <div class="article-shout col-xsm-12 col-sm-7 col-md-7 col-lg-7 col-xlg-7">
                      <p class="blurb">
                        <ul>
                          <li>Dean Orion  (Author)</li>
                          <li>Jodi Lester (Editor)</li>
                          <li>Mark Page (Cover Design)</li>
                        </ul>
                      </p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="tab" data-target="#bookSummary">
                        more&hellip;
                      </a></p>
                    </div>  
                    </div>
                    
                    
                    </div>
                    <div id="theView"  class="col-xsm-12 col-sm-offset-2 col-sm-5 col-md-offset-2 col-md-5 col-lg-offset-2 col-lg-5 col-lg-offset-2 col-xlg-5">
                      <h3 class="rubric"><a data-toggle="tab" data-target="#blogReviews">Bloggers Reviews</a></h3>
                      <div>
                        <div class="article-shout">
                          <p class="five-stars">Rating: <%= image_tag "five-of-five.png", :class => "img-responsive", :title => "five stars of five stars rating" %></p>
                          <p class="blurb">
                            A critical success, <em>Live To Write Another Day</em> is roundly paised as the writers' <q>go to</q> guide when navigating the professional world of writing. 
                          </p>
                        <!-- Button trigger modal -->
                          <p class="text-right"><a data-toggle="tab" data-target="#blogReviews">
                            more&hellip;
                          </a></p>
                        </div>  
                      </div>
                    </div>
                    
                  </div>
                  <div class="row row-epk-display">
                    
                    <div id="theInfo" class="col-xsm-12 col-sm-5 col-md-5 col-lg-5 col-xlg-5">
                      <h3 class="rubric"><a data-toggle="tab" data-target="#bookOneSheet">Book One-Sheet</h3>
                    <div class="row">
                    <div class="article-image col-xsm-12 col-sm-5 col-md-5 col-lg-5 col-xlg-5">
                      <a data-toggle="tab" data-target="#bookOneSheet"><%= image_tag "deanorion/dean-orion-epk-pdf1.png", :class => "img-center img-responsive img-rounded", :title => "Image One Sheet" %></a>
                      <p><strong>Publisher</strong>: Sky Father Media; 1 edition (March 5, 2013)</p>
                    </div>
                    <div class="article-shout col-xsm-12 col-sm-7 col-md-7 col-lg-7 col-xlg-7">
                      <p class="blurb">
                        Formats:
                        <ul>
                          <li><strong>Kindle</strong> - File Size: 338 KB</li>
                          <li><strong>Paperback</strong> - 204 pages</li>
                        </ul>
                        
                      </p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="tab" data-target="#bookOneSheet">
                        more&hellip;
                      </a></p>
                    </div>  
                    </div>
                    
                    </div>
                    <div id="theComments" class="col-xsm-12 col-sm-offset-2 col-sm-5 col-md-offset-2 col-md-5 col-lg-offset-2 col-lg-5 col-lg-offset-2 col-xlg-5">
                      <h3 class="rubric"><a data-toggle="tab" data-target="#amazonReviews">Amazon Reviews</a></h3>
                    <div>
                    <div class="article-shout">
                      <p class="five-stars">Rating: <%= image_tag "five-of-five.png", :class => "img-responsive", :title => "five stars of five stars rating" %></p>
                      <p class="blurb">
                        A smash with the readers, <em>Live To Write Another Day</em> is leading its category at Amazon. 
                      </p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="tab" data-target="#amazonReviews">
                        more&hellip;
                      </a></p>
                    </div>  
                  </div>

                    </div>
                  </div>  
                    
                  <div class="row row-epk-display row-last-part">  
                    <div id="theQuestions" class="col-xsm-12 col-sm-5 col-md-5 col-lg-5 col-xlg-5">
                      <h3 class="rubric"><a data-toggle="tab" data-target="#interviewQAs">Interview Q &amp; A 's</a></h3>
                    <div>
                    <div class="article-shout">
                      <p class="blurb">
                        These Questions and Answers are for you discover what topics may be relevant to you and your audience. Also, they are intended to help in the formulation of your follow-up questions. 
                      </p>
                    <!-- Button trigger modal -->
                      <p class="text-right"><a data-toggle="tab" data-target="#interviewQAs">
                        more&hellip;
                      </a></p>
                    </div>  
                  </div>
                      
                      
                    </div> 
                    <div id="theAwards" class="col-xsm-12 col-sm-offset-2 col-sm-5 col-md-offset-2 col-md-5 col-lg-offset-2 col-lg-5 col-lg-offset-2 col-xlg-5">
                      
                    </div>
                    
                  </div>