<div class="col-xsm-12 col-sm-12 col-md-5 col-lg-5 col-xlg-5">
                     <a data-toggle="modal" data-target="#epkHeadline"><%= image_tag "deanorion/dean-orion-live-to-write.png", :class => "img-center img-responsive", :title => "Live to write another day cover art" %></a>
                  </div>
                  <div class="col-xsm-12 col-sm-12 col-md-7 col-lg-7 col-xlg-7">
                    <p class="rubric rubric-lg"><a data-toggle="modal" data-target="#epkHeadline">The Book</a></p>
                    <h2>Live to Write Another Day<small>, A Survival Guide for Screenwriters and Creative Storytellers</small></h2>
                     <p>Not too long ago I decided to write a book about my creative writing process, and the many experiences that I've had throughout my career. The inspiration behind it was pretty straightforward. I simply wanted to share what I've learned over the past 25+ years with other writers.</p>
                     <p>Are you passionate about telling stories?  Were you born to be a creative writer?  Do you love writing but sometimes feel that, for any number of reasons, it doesn't always love you back?</p>
                     <p>Well, you're definitely not alone.  Creative writers everywhere, at every level, experience these same emotions when it comes to their work.  But that doesn't mean they can't be overcome&hellip;</p>
                    
                    <p class="text-right"><a data-toggle="modal" data-target="#epkHeadline">
                        more&hellip;
                      </a></p>
                    <!-- Button trigger modal -->
                  </div>

<!-- Modal -->
<div class="modal fade" id="epkHeadline" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Overview</h4>
      </div>
      <div class="modal-body">
        <div>
          <h4>Download</h4>
          <ul class="downloads-list">
            <li>
              <%= link_to 'PDF', '#'%>
            </li>
            <li>
              <%= link_to 'Word', '#'%>
            </li>
            <li>
              <%= link_to 'TXT', '#'%>
            </li>
            <li>
              <%= link_to 'RFT', '#'%>
            </li>
            <li>
              Image: <%= link_to 'JPG', '#'%>
            </li>
          </ul>
        </div>
        <div>
          <div class="pull-right">
            <%= image_tag "deanorion/LWAD_AmazonCover.png", :class => "img-center img-responsive image-xmd", :title => "Live to write another day cover art" %>
          </div>
          <div>
            <p class="rubric rubric-lg">The Book</p>
            <h2>Live to Write Another Day<small>, A Survival Guide for Screenwriters and Creative Storytellers</small></h2>
            <p>Not too long ago I decided to write a book about my creative writing process, and the many experiences that I've had throughout my career. The inspiration behind it was pretty straightforward. I simply wanted to share what I've learned over the past 25+ years with other writers.</p>
            <p>Are you passionate about telling stories?  Were you born to be a creative writer?  Do you love writing but sometimes feel that, for any number of reasons, it doesn't always love you back?</p>
            <p>Well, you're definitely not alone.  Creative writers everywhere, at every level, experience these same emotions when it comes to their work.  But that doesn't mean they can't be overcome.  In Live To Write Another Day, A Survival Guide for Screenwriters and Creative Storytellers, author Dean Orion takes a simple, tell-it-like-it-is approach to both demystifying the nuts and bolts mechanics of storytelling and relieving the many psychological stresses of doing this crazy job for a living.</p>
            <p>When you buy this book you'll get a step-by-step walk thru of the process of creating original stories, both "on spec" and "for hire," as well as helpful hands-on checklists at the end of each chapter, all framed through the first hand experiences of a writer in the trenches.</p>
            <p>You'll learn:</p>
            <ul>
              <li>How to turn procrastination into "a positive"</li>
              <li>How to deal with crisis moments</li>
              <li>How to kick off your writing project without ever staring at a blank page</li>
              <li>How to set the foundation of your project by writing a solid concept document</li>
              <li>When to keep your writing to yourself and when to expose it to criticism</li>
              <li>How to give, receive and execute script notes</li>
              <li>How to create a productive writing partnership</li>
              <li>How to pitch stories by pitching your personality</li>
              <li>And much more!</li>
            </ul>
            <p>Plus, as a writer who has worked in theater and television as well as on numerous videogames and theme park experiences, you'll get Dean's unique perspective on interactive narrative and the new frontier that these exciting new storytelling mediums hold for the future.</p>
            <p>Live To Write Another Day, A Survival Guide for Screenwriters and Creative Storytellers is a book that is as practical as it is inspirational, and as heartfelt and encouraging as it is brutally honest about what it really takes to be a professional creative writer.</p>
    
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>