<div>
  <div>
    <div>
      <div>
        <h4 class="modal-title" id="myModalLabel">Suggested Interview Questions &amp; Answers</h4>
      </div>
      <div>
        <div>
          <h4>Download</h4>
          <ul class="downloads-list">
            <li>
              <%= link_to 'PDF', '#'%>
            </li>
            <li>
              <%= link_to 'Word', '#'%>
            </li>
            <li>
              <%= link_to 'TXT', '#'%>
            </li>
            <li>
              <%= link_to 'RTF', '#'%>
            </li>
            <!--<li>
              Image: <%= link_to 'JPG', '#'%>
            </li>-->
          </ul>
        </div>

        <div id="interviewQuestionsAnswers" class="article-main">
          <h2>Interview Questions &amp; Answers</h2>
          <p>Also, if you would like to expand on a specific topic, please contact
            <%= mail_to "dean@skyfathermedia.com" do %>
                <strong> Dean Orion </strong>
            <% end %>and let him know what you would like to discuss.
          </p>
          <dl>
            <dt>
              What was the catalyst for writing this book?
            </dt>
              <dd>
                My friend, Mark Page, illustrated the cover. They say a picture's worth a thousand words and he really nailed the feeling I was trying to convey-that when you're a writer, no matter how difficult the road gets, you can never give up. I tend to chronically feel that way, but about nine months ago I had really hit a rough patch and was kind of at a loss as to how to get my head right. "What can I do differently?" I thought. "What do I have to give that people will find value in, and that is truly worthy of my time and effort? Is there a way I can help other writers and help myself at the same time?" The book essentially grew out of that conversation that I had with myself.
              </dd>
            <dt>
              Would amateurs as well as professionals find benefits from reading this book? Who is your intended audience?
            </dt>
              <dd>
                The book is based on my experiences so the intended audience is primarily creative writers who, like me, write for film, television, and interactive media. However, the main thrust of it is about the creative process, and how that process is the key to not only doing great work, but also surviving the perils you experience along the way, which is something that any artist can relate to, amateur or professional.
              </dd>
            <dt>
              Now tell us your story, your writing journey?
            </dt>
              <dd>
                When I was little, watching movies and television shows, I used to fantasize about being in the stories on the screen. But I was also sophisticated enough, even at a very young age, to understand that what I was watching was already made, "in the can," as they say. So I would immediately start dreaming about the next show, the sequel, the following episode that I could be "in" with the characters. That was really the initial spark that set me on the writer's journey.
              </dd>
            <dt>
              Dean your career path is very eclectic and you've dipped your creative toes in many different writing genres from traditional to screenwriting to interactive to playwriting, and you've even worked for Disney where you helped create virtual and interactive gaming for Epcot and for their cruise lines. <em>Is there one over the others that were more of a challenge for you?</em>
            </dt>
              <dd>
                I couldn't rank the challenges because they're all so unique. From a writing standpoint, I think creating a good screenplay is an incredibly hard thing to do, much harder than writing a television episode or a short play. Writing a TV pilot however, or a full-length play are also very difficult to do well. On the interactive side, the challenges are of a different nature.  In video games the challenge is largely political in the sense that the story is almost never the developer's top priority. So you need to find a way to do something cool within the limitations of a larger agenda.  With location-based interactive experiences, like the ones I've done for Disney, the challenges are almost always monumental.  First, you have to come up with something that's never been done before, then you have to figure out a way to actually make it work. So there's a creative challenge, an engineering challenge, and a producing challenge.
              </dd>
            <dt>
              What's next for you?
            </dt>
              <dd>
                Fortunately I've been very busy lately. I recently wrote a series of short films for the Revolutionary War Museum and the Museum of the United States Army, both of which will be built in the state of Virginia in the next few years. Currently I'm working on a fairly extensive edutainment game for a major textbook publisher. And because I'm a glutton for punishment, I'm also writing a new spec television pilot. I have to admit though, I've really been bitten by the digital publishing bug, so in the very near future I plan to turn my sights on the world of serial fiction.
              </dd>
            <dt>
              You are the author of multiple successful plays, and I have to admit total ignorance about the role of the playwright after his-her play is sold. Could you fill us in on your role through production, if any?
            </dt>
              <dd>
                The greatest thing about being a playwright is the interaction that you have with the actors.  You hear your words spoken on a daily basis and you get to see your work literally come to life. Your job is to take what you see and hear, run it back through the mill and make it better, to use the rehearsal process as a laboratory where you, as the mad scientist, can test and improve your ingenious invention.  Like all creative endeavors, it can get contentious and stressful at times, but for a dramatic writer there's nothing more instructive or rewarding than having your work performed by live people in front of a live audience.
              </dd>
            <dt>
              How important is it for an author to be at least somewhat literate in the ever changing "new media" of today?
            </dt>
              <dd>
                Very. New media has opened up so many possibilities for authors. I think that what we're seeing right now is a bit of a gold rush, which of course has its pros and cons. But in general, all the tools are available for today's author to be successful without the necessity of currying favor with publishing industry gatekeepers.
              </dd>
            <dt>
              Speaking of new media. How important do you think the role of social media is for authors to get the word out about their work?
            </dt>
              <dd>
                Social media is very important because it is the connective tissue of our new online economy. It's how you reach out to people of like mind and the best way to promote your work. In fact, it's how I met you! What I love most about this new <q>connection economy</q> is that the connections are the currency, so there's value in every relationship you make, and all parties benefit.
              </dd>
            <dt>
              Dean on your website you say <q>Writing is such a solitary experience, but that doesn't mean that each of us has to be in it alone.</q> ... when you're talking about writing your book. Do you think this is why so many writers belong to critique-writer's groups?
            </dt>
              <dd>
                Absolutely. I'm a big fan of writing groups and writer's communities. In fact, I advocate for them quite strongly in my book. Without relationships with other writers you start to feel very isolated.  For the past two and half years I've been a member of a place called The Writer's Junction, which is a co-op office-type space for writers located near my home.  It's such a supportive environment and I've made so many great friends there. Not to mention the peace of mind that comes with knowing I always have a quiet place to work.
              </dd>
            <dt>
              Dean on your blog post from March 26th where you were discussing The Juggling Writer. You use the term "cerebral odyssey" when describing your mind set when writing. I know many authors who agree with you and have shared stories of their family chaos while they're in their writing bubble. Do you have a story you could share?  	
            </dt>
              <dd>
                Every once in a while I get home late from writing, get in bed and just can't turn it off. I then proceed to get up and down at least three or four times to sketch out notes on all the ideas that won't leave me alone. I know I won't forget the ideas, so it's not so much paranoia that drives this behavior. It's the fact that my brain simply won't stop working if I don't create some kind of punctuation mark. The up-down up-down is kind of silly, not to mention more than a tad annoying, as my wife will attest, but it's kind of an idiosyncrasy I just have to ride out until I can finally get to sleep. I guess the only thing harder than being a writer, is being married to one.
              </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

